@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
  background-image: linear-gradient(120deg,#3498db,#8e44ad);
  height: 100%;
  padding-left: 40%;
  padding-top: 5%;
  padding-bottom: 40%;
}
.error{
  color:white;
  font-style: italic;
}
.login-box{
  width : 300px;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%)
}
.login-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid;
  margin-bottom: 50px;
  padding-left: 13px;
}
.textbox{
  width:100%;
  overflow:hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid;
}
.textbox i {
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 90px;
  float: left;
  margin: 10px;
}
.name{
  width:100%;
  overflow:hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid;
}
::placeholder{
  color: white;
}
